{% extends 'base.html' %} {% block content %}

<h3 class="mt-5">Add New Book Data</h3>
<div class="col-md-6">

    <form method="POST" action="{% url 'add_book' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>Book Name: </td>
                <td><input type="text" name="bname" id="" required></td>

            </tr>

            <tr>
                <td>Book Author: </td>
                <td><input type="text" name="bauthor" id="" required></td>

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Book" class="btn btn-primary">
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}