{% extends 'base.html' %} {% block content %}

<h3 class="mt-5">In Dashboard Page</h3>
{% if is_superuser %}
<div class="col-mt-5">

    <a href="{% url 'add_book' %}"><button class="btn btn-warning">Add Book</a>
</div>
{% endif %}

<div class="col md 8">
    <table class="table">
        <tr>
            <th>Book Name</th>
            <th>Author Name</th>
            {% if is_superuser %}
            <th>Edit</th>
            <th>Delete</th>
            {% endif %}
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.book_name}}</td>
            <td>{{i.book_author}}</td>
            {% if is_superuser %}
            <td><a href="/edit/{{i.id}}"><button class="btn btn-warning" >Edit</button></a></td>
            <td><a href="/delete/{{i.id}}"><button class="btn btn-danger" >Delete</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock content %}